body{
    background: #fbfafa;
}

div.round {
    height: 80px;
    width: 80px;
    display: inline-block;
    border-radius: 50%;
}

img.round-img{
    width: 90%;
    border-radius: 50%;
}


img.round-img:hover{
    transform: scale(1.2);
    opacity: 0.5;
}

#contenidoDetalle .img-producto{
	
}

.background-degradado{
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(255,242,245,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(255,242,245,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(255,242,245,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(255,242,245,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(255,242,245,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(255,242,245,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fff2f5', GradientType=0 );
}

.card{
    border: 1px solid #eaeaea;
}

.sin-borde{
    border: 1px solid transparent;
}

#body-principal{
    height: 3000px; 
    padding: 50px; 
    padding-bottom: 300px;
}

.productos .card{
    padding: 10px;
}

.productos .card img{
    margin-bottom: 10px;
}

.productos .sin-borde:hover{
    transform: scale(1.1);
    border: 2px solid whitesmoke;
}

.sorprende .card{

}

.sorprende .card img{
    margin-bottom: 10px;
}

.sorprende .sin-borde:hover{
    transform: scale(1.1);
    border: 2px solid whitesmoke;
}

.btn-danger {
    color: #212529;
    background-color: #e3c9cd;
    border-color: #e3c9cd;
}

.title-corporativo{
    /*color: #6f425d;*/
    color: black;
}

#discrecion{
    position: fixed;
    z-index: 2;
    bottom: 10px;
    width: 100%;
    padding-right: 5px;
}

#discrecion a{
    float: right;
}

#btnDiscrecion img{
    width: 30px;
}

#btnVer img{
    width: 30px;
}

#btnBuscar img{
    width: 20px;
}

#btnBuscar{
    color: #212529;
}

.card-body .card-title{
    font-weight: bold;
}

.oferta{
    display: flex;
}

.oferta img{
    width: 30px;
    height: 30px;
}

.footer-info-empresa img{
    width: 22px;
}

#infoPagina .card-footer{
    padding-right: 100px;
}

.ul-corpo li a{
    color: black;
}

.div-flex{
    display: flex;
}

.informate .card img{
    margin-bottom: 10px;
}

.informate .sin-borde:hover{
    opacity: 0.8;
    border: 2px solid whitesmoke;
}

#btnBuscar{
    color: rgba(0,0,0,.5);
}

#btnBuscar:hover{
    color: black;

}

.antes{
    color: red;
}

.modal-header-color-1{
    background: #edc8cf;
    color: #495057;
    font-size:  22px;
}

.modal-title-item-1{
    color: #495057;
}

.modal-border-1{
    border: 1px solid #edc8cf;
}

.div-comprobante-header{
    max-width: 374px;
    margin: 0 auto;
}

.div-comprobante{
    border-spacing: 0;
    border-collapse: collapse;
    max-width: 374px;
    margin: 0 auto;
    width: 96%;
    background-color: #ffffff;
    border-right: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    border-top: 1px solid #f5f5f5;
    border-left: 1px solid #f5f5f5;
    border-radius: 2px;

}