<form action="/" method="post" enctype="multipart/form-data">
	<div class="row">
		<div class="col-8">
			<div class="form-row">
				<div class="form-group col">
					<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-wrench text-success"
						fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd"
							d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019L13 11l-.471.242-.529.026-.287.445-.445.287-.026.529L11 13l.242.471.026.529.445.287.287.445.529.026L13 15l.471-.242.529-.026.287-.445.445-.287.026-.529L15 13l-.242-.471-.026-.529-.445-.287-.287-.445-.529-.026z" />
					</svg>
					<label for="code">Codigo</label>
					<input type="hidden" id="idItem" name="idItem" value="">
					<input type="text" class="form-control" id="code" placeholder="ingrese codigo">
				</div>
				<div class="form-group col">
					<label for="description">Descripcion</label>
					<input type="text" class="form-control" id="description" placeholder="ingrese descripcion">
				</div>
			</div>
			<div class="form-group">
				<label for="description">Observacion</label>
				<input type="text" class="form-control" id="observation" placeholder="ingrese observacion">
			</div>
			<div class="form-row">
				<div class="form-group col">
					<label for="description">Precio</label>
					<input type="text" class="form-control" id="price" placeholder="ingrese precio">
				</div>
				<div class="form-group col">
					<label for="description">IVA</label>
					<input type="text" class="form-control" id="iva" placeholder="ingrese IVA">
				</div>
				<div class="form-group col">
					<label for="description">Tipo</label>
					<select class="form-control" id="type">
						<option value=COSMETICA>Cosm&eacute;tica Erotica</option>
						<option value="LENCERIA">Lenceria y Disfraces</option>
						<option value="JUGUETES">Jugueteria</option>
					</select>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col">
					<label for="tags">Caracteristicas</label>
					<input type="text" class="form-control" id="tags" placeholder="ingrese caracteristicas separados por comas">
				</div>
				<div class="form-group col">
					<label for="status">Estado</label>
					<select class="form-control" id="status">
						<option value="ACTIVO">Activo</option>
						<option value="DESACTIVADO">Desactivado</option>
					</select>
				</div>
			</div>
		</div>
		<div class="col-4 pb-2">
			<div class="card h-100">
				<div id="divImageItem" class="card-body"></div>
			</div>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col">
			<div class="custom-file">
				<input type="hidden" class="form-control" id="fileImage1" lang="file">
				<input type="file" class="custom-file-input" id="file1" lang="fileImage1">
				<label class="custom-file-label" for="file1">Seleccione Imagen</label>
			</div>
		</div>
		<div class="form-group col">
			<div class="custom-file">
				<input type="hidden" class="form-control" id="fileImage2" lang="file">
				<input type="file" class="custom-file-input" id="file2" lang="fileImage2">
				<label class="custom-file-label" for="file2">Seleccione Imagen</label>
			</div>
		</div>

	</div>
	<div class="form-row">
		<div class="form-group col">
			<div class="custom-file">
				<input type="hidden" class="form-control" id="fileImage3" lang="file">
				<input type="file" class="custom-file-input" id="file3" lang="fileImage3">
				<label class="custom-file-label" for="file3">Seleccione Imagen</label>
			</div>
		</div>
		<div class="form-group col">
			<div class="custom-file">
				<input type="hidden" class="form-control" id="fileImage4" lang="file">
				<input type="file" class="custom-file-input" id="file4" lang="fileImage4">
				<label class="custom-file-label" for="file4">Seleccione Imagen</label>
			</div>
		</div>

	</div>
</form>