<div class="form-group">
						    <label for="code">Codigo</label>
						    <input type="text" class="form-control" id="code" placeholder="ingrese codigo">
						  </div>
						  <div class="form-group">
						    <label for="description">Descripcion</label>
						    <input type="text" class="form-control" id="description" placeholder="ingrese descripcion">
						  </div>
						  <div class="form-group">
						  	<label for="status">Estado</label>
						    <select class="form-control" id="status">
						      <option value="ACTIVO">Activo</option>
						      <option value="DESACTIVADO">Desactivado</option>
						    </select>
						  </div>